@{
    ViewData["Title"] = "query results";
}
@using nbaMVC.Models
@model queryDetails


<div class="text-center">
    <table>
        <tr>
            @foreach(var cat in Model.catValues){
                <th>@cat</th>
            }
        </tr>
            @foreach(var dict in Model.results){
                <tr>
                @foreach(var value in dict){
                    <td>@value.Value</td>
                }
                </tr>
            }   
    </table>    
</div>